<body>
  <div class="container">
    <!-- Left Half -->
    <div class="left-half">
      <h1>Team 1</h1>
      <h1 class="score-font">{{ team1Score }}</h1>
      <div class="score-button-container">
        <div class="score-button">
          <button class="score-button" (click)="incrementScore('team1')">+</button>
          <button class="score-button" (click)="decrementScore('team1')">-</button>
        </div>
      </div>
    </div>
  
    <!-- Right Half -->
    <div class="right-half">
      <h1>Team 2</h1>
      <h1 class="score-font">{{team2Score}}</h1>
      <div class="score-button-container">
        <div class="score-button">
          <button class="score-button" (click)="incrementScore('team2')">+</button>
          <button class="score-button" (click)="decrementScore('team2')">-</button>
        </div>
      </div>
    </div>
  </div>
  <div class="reset-button-container">
    <div class="reset-button">
      <button (click)="resetScores()">Reset Scores</button>
    </div>
  </div>
</body>
